// fonts imported in index.html <head>
@mixin lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

@mixin big-shoulders-display {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}
